
*{
    text-decoration: none;
}
a{
    display: inline-block;
    color: black;
    padding: 4px;
    background-color: aquamarine;
    margin: 5px;
    border:7px;
}
body{
   background-color: beige;
}
#scientific_information{
    display: inline-block;
    position: relative;
    background-color: antiquewhite;
    float: right;
}
section img{
    max-width: 200px;
    padding: 1px;
    margin: 10px;
}
#paragrafo_socao{
    display: inline-block;
    float: right;
    margin: 3vw;

}

#seca_soco{    
    display: inline-block;
    position: relative;
    float:left;
}

main h1{
    display: block;
}