ol li:nth-child(2n-1){
    text-transform: uppercase;
}
li:hover{
    background-color: blanchedalmond;
}
h1 , h3{
    color :red
}
h1 em,h3 em{
    font-size:40px;
    border: solid black 5px;
}
li{
    font-size: 20px;
}
li em {
    background-color: brown;
    font-weight: 900;
}
/*body ul:nth-child(6) li:nth-child(-n+3){
    background-color: blueviolet;
}
*/
li::content('Java*'){
    background-color:rgb(101, 101, 155);
}
